body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.locationTime{
  padding: 0;
  margin: 0;
}

.current{
  width: 790px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  
}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.days{
  width: 790px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  ;

}

.day{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  
}

.hours{
  display: flex;
  flex-direction: column;
  
}

.hour{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 790px;
}

.morning{
  background-color: skyblue;
}

.evening{
  background-color: navy;
  max-width: 1000px;
  overflow: auto;
}

h1{
  color: white;
}

h2{
  color: white;
}

h3{
  color: white;
}


p{
  color: white
}